<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<li><a href="#"type="ar">Argentina</a></li>
<li><a href="#"type="au">Australia</a></li>
<li><a href="#"type="at">Austria</a></li>
<li><a href="#"type="be">Belgium</a></li>
<li><a href="#"type="br">Brazil</a></li>
<li><a href="#"type="bg">Bulgaria</a></li>
<li><a href="#"type="ca">Canada</a></li>
<li><a href="#"type="cn">China</a></li>
<li><a href="#"type="co">Colombia</a></li>
<li><a href="#"type="cu">Cuba</a></li>
<li><a href="#"type="cz">Czech Republic</a></li>
<li><a href="#"type="eg">Egypt</a></li>
<li><a href="#"type="fr">France</a></li>
<li><a href="#"type="de">Germany</a></li>
<li><a href="#"type="gr">Greece</a></li>
<li><a href="#"type="hk">Hong Kong</a></li>
<li><a href="#"type="hu">Hungary</a></li>
<li><a href="#"type="in">India</a></li>
<li><a href="#"type="id">Indonesia</a></li>
<li><a href="#"type="ie">Ireland</a></li>
<li><a href="#"type="il">Israel</a></li>
<li><a href="#"type="it">Italy</a></li>
<li><a href="#"type="jp">Japan</a></li>
<li><a href="#"type="lv">Latvia</a></li>
<li><a href="#"type="lt">Lithuania</a></li>
<li><a href="#"type="my">Malaysia</a></li>
<li><a href="#"type="mx">Mexico</a></li>
<li><a href="#"type="ma">Morocco</a></li>
<li><a href="#"type="nl">Netherlands</a></li>
<li><a href="#"type="nz">New Zealand</a></li>
<li><a href="#"type="ng">Nigeria</a></li>
<li><a href="#"type="no">Norway</a></li>
<li><a href="#"type="ph">Philippines</a></li>
<li><a href="#"type="pl">Poland</a></li>
<li><a href="#"type="pt">Portugal</a></li>
<li><a href="#"type="ro">Romania</a></li>
<li><a href="#"type="ru">Russia</a></li>
<li><a href="#"type="sa">Saudi Arabia</a></li>
<li><a href="#"type="rs">Serbia</a></li>
<li><a href="#"type="sg">Singapore</a></li>
<li><a href="#"type="sk">Slovakia</a></li>
<li><a href="#"type="si">Slovenia</a></li>
<li><a href="#"type="za">South Africa</a></li>
<li><a href="#"type="kr">South Korea</a></li>
<li><a href="#"type="se">Sweden</a></li>
<li><a href="#"type="ch">Switzerland</a></li>
<li><a href="#"type="tw">Taiwan</a></li>
<li><a href="#"type="th">Thailand</a></li>
<li><a href="#"type="tr">Turkey</a></li>
<li><a href="#"type="ae">UAE</a></li>
<li><a href="#"type="ua">Ukraine</a></li>
<li><a href="#"type="gb">United Kingdom</a></li>
<li><a href="#"type="us">United States</a></li>
<li><a href="#"type="ve">Venuzuela</a></li>

    
    
</body>
</html>